{% extends "AevitasLevisBundle:Backend:root.html.twig" %}

{% block breadcrumb %}
    <ul class="breadcrumb">
	<li><a class="glyphicons home" href="/backend"><i></i> BACKEND</a></li>
	<li class="divider"></li>
        <li><a href="#">Template Rule</a></li>
        <li class="divider"></li>
	<li style="text-transform:uppercase;"> List </li>
    </ul>
{% endblock %}

{% block content %}
    <div class="loading-bar" style="display:none;"><img src="{{ asset('bundles/aevitaslevis/images/ajax-loader.gif')}}"></div>
            {% for flashMessage in app.session.flashbag.get('notice') %}
                <div class="alert alert-faded">
                    <button type="button" class="close" data-dismiss="alert">×</button>
                    {{ flashMessage }}
                </div>
            {% endfor %}
    <div class="control-group">
        <a href="{{ path('backend_create_template_rule') }}"><span class="btn btn-large color-7">Add new Rule</span></a>
    </div>
    <div class="separator"></div>
    <table aria-describedby="DataTables_Table_0_info" id="DataTables_Table_0" class="dynamicTable table table-striped table-bordered table-condensed dataTable">
            <thead>
                <tr role="row" style="color:#0F0">
                    <th>Id</th>

                    <th>Name</th>
                    
                    <th width="260"></th>
                    
            </thead>

            <tbody aria-relevant="all" aria-live="polite" role="alert">
                {% for item in lists %}
                    <tr class="gradeA odd">
                        <td class=" ">{{ item.id }}</td>
                        <td class=" ">
                            {{item.templateRuleName}}
                        </td>
                        
                        <td>
                            {#<a style="color:#0f0" href="javascript:DoSend({{item.id}})" class="glyphicons no-js envelope"><i></i>Send</a> #}
                            &nbsp;&nbsp;&nbsp;<a href="
                            {{ path('backend_edit_template_rule', {'id':item.id}) }}" class="glyphicons no-js edit"><i></i>View/Edit</a>
                            &nbsp;&nbsp;&nbsp;<a href="javascript:if(confirm('Are you sure want to delete this Template?')){window.location='{{ path('backend_delete_template_rule', {id:item.id}) }}'}" class="glyphicons no-js delete"><i></i>delete</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
    </table>

    <div class="modal fade" id="myModal" style="color:#000">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
              <h4 class="modal-title" style="color:#000">Send email</h4>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary" id="bt-process">Send</button>
            </div>
          </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
      </div><!-- /.modal -->
{% endblock %}

