{% extends "AevitasLevisBundle:Backend:root.html.twig" %}

{% block import %}    
    
{% endblock %}

{% block breadcrumb %}
    <ul class="breadcrumb">
	<li><a class="glyphicons home" href="/backend"><i></i> BACKEND</a></li>
	<li class="divider"></li>
        <li>List Jobs</li>
    </ul>
{% endblock %}

{% block content %}
            {% for flashMessage in app.session.flashbag.get('notice') %}
                <div class="alert alert-faded">
                    <button type="button" class="close" data-dismiss="alert">×</button>
                    {{ flashMessage }}
                </div>
            {% endfor %}
    <div class="separator"></div>
    <table aria-describedby="DataTables_Table_0_info" id="DataTables_Table_0" class="dynamicTable table table-striped table-bordered table-condensed dataTable">
            <thead>

                    <th aria-label="Rendering eng.: activate to sort column descending" aria-sort="ascending" style="width: 40px;" colspan="1" rowspan="1" aria-controls="DataTables_Table_0" tabindex="0" role="columnheader" class="sorting_asc">ID</th>

                    <th aria-label="Browser: activate to sort column ascending" style="width: 250px;" colspan="1" rowspan="1" aria-controls="DataTables_Table_0" tabindex="0" role="columnheader" class="sorting">Bill No</th>

                    <th aria-label="Browser: activate to sort column ascending" colspan="1" rowspan="1" aria-controls="DataTables_Table_0" tabindex="0" role="columnheader" class="sorting">Data</th>

                    <th aria-label="Platform(s): activate to sort column ascending" style="width: 60px;" colspan="1" rowspan="1" aria-controls="DataTables_Table_0" tabindex="0" role="columnheader" class="sorting">Status</th>
                    <th aria-label="Platform(s): activate to sort column ascending" style="width: 60px;" colspan="1" rowspan="1" aria-controls="DataTables_Table_0" tabindex="0" role="columnheader" class="sorting">Start</th>
{#                    <th aria-label="Platform(s): activate to sort column ascending" style="width: 60px;" colspan="1" rowspan="1" aria-controls="DataTables_Table_0" tabindex="0" role="columnheader" class="sorting">Action</th>
#}                    
            </thead>

            <tbody aria-relevant="all" aria-live="polite" role="alert">
                {% for job in jobs %}
                    <tr class="gradeA odd">
                        <td class="  sorting_1">{{ job.id }}</td>
                        <td class=" ">{{ job.bill }}</td>
                        <td class=" ">
                            <button class="btn btn-action view-more" id="view-more-{{ loop.index }}">Show</button>
                            <div id="list-job-{{ loop.index }}" style="display:none">
                                {% for key, param in job.getDataObject %}
                                    {{ key }}: {{ param }}<br/>
                                {% endfor %}
                            </div>
                        </td>
                        <td>{{ job.statusLabel }}</td>
                        <td class=" ">{{ job.start|date('m/d/Y') }}</td>
{#                        <td>
                            <a href="" class="glyphicons no-js edit"><i></i>Edit</a>
                            <br/><a href="javascript:if(confirm('Are you sure want to delete this Rule?')){window.location=''}" class="glyphicons no-js delete"><i></i>delete</a>
                        </td>#}
                    </tr>
                {% endfor %}
            </tbody>
    </table>
            
    {{ pagination | raw }}

{% endblock %}

{% block javascript %}
    <script>
        $('.view-more').click(function(){
            if ($(this).text() == 'Show'){
                $(this).text('Hide');
            }else{
                $(this).text('Show');
            }
            var myID = $(this).attr('id').replace('view-more-','');
            $('#list-job-'+myID).toggle();
        })
    </script>
{% endblock %}