{% extends "AevitasConfigBundle::Config/layout.html.twig" %}

{% block title %}Symfony - Configure database{% endblock %}

{% block content %}
    {% form_theme form "AevitasConfigBundle::Config/form.html.twig" %}

    <div class="step">
        {{ form_errors(form) }}
        <form action="{{ path('config_environment') }}" method="POST">
            <div class="symfony-form-column">
                {{ form_row(form.dbhost) }}
                {{ form_row(form.dbname) }}
            </div>
            <div class="symfony-form-column">
                {{ form_row(form.dbuser) }}
                {{ form_row(form.dbpassword) }}
            </div>

            {{ form_rest(form) }}

            <div class="symfony-form-footer">
                <p>* mandatory fields</p>
            </div>
            <input type="submit" value="Submit"/>
        </form>
    </div>
{% endblock %}
