<div class="shoping-option amodule">
    <div class="module-title">{{'Shopping Option' | trans}}</div>
    <div class="module-content">
        {{giftmenu() | raw }}
        <ul class="submenu">
        {% for cat in categories %}
        <li class="option-value"><a href="{{path('levis_gift_subcategory', {'topcat':app.session.get('currentcat')|url_encode(true), 'catslug': cat.getSlug |url_encode(true), 'catid': cat.getId})}}">{{cat.getName | trans}} ({{statistic[cat.getId]}})</a></li>
        {% endfor %}
        </ul>
        <li class="option-title">{{'Point' | trans}}</li>
        {% if pointfilter['level1'] != 0 %}<li class="option-value"><a href="javascript:void(0);">100 - 299 ({{pointfilter['level1']}})</a></li>{% endif %}
        {% if pointfilter['level2'] != 0 %}<li class="option-value"><a href="javascript:void(0);">300 - 499 ({{pointfilter['level2']}})</a></li>{% endif %}
        {% if pointfilter['level3'] != 0 %}<li class="option-value"><a href="javascript:void(0);">500 - 799 ({{pointfilter['level3']}})</a></li>{% endif %}
        {% if pointfilter['level4'] != 0 %}<li class="option-value"><a href="javascript:void(0);">800 - 999 ({{pointfilter['level4']}})</a></li>{% endif %}
        {% if pointfilter['level5'] != 0 %}<li class="option-value"><a href="javascript:void(0);">1,000 - 1,500 ({{pointfilter['level5']}})</a></li>{% endif %}
        {% if pointfilter['level6'] != 0 %}<li class="option-value"><a href="javascript:void(0);">> 1500 ({{pointfilter['level6']}})</a></li>{% endif %}
    </div>
</div>