{# empty Twig template #}
{% extends "AevitasLevisBundle:Backend:root.html.twig" %}

{% block breadcrumb %}
<ul class="breadcrumb">
    <li><a class="glyphicons home" href="/backend"><i></i> BACKEND</a></li>
    <li class="divider"></li>
    <li>Item</li>
    <li class="divider"></li>
    <li>List</li>
</ul>
{% endblock %}

{% block content %}
<div class="loading-bar" style="display:none;"><img src="{{ asset('bundles/aevitaslevis/images/ajax-loader.gif')}}"></div>
<table class="dynamicTable table table-striped table-bordered table-condensed dataTable" id="table-list-store" aria-describedby="DataTables_Table_0_info">
    <thead>
        <tr role="row">
            <th class="sorting_asc" role="columnheader" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-sort="ascending">{{ 'Code'|trans }}</th>
            <th class="sorting" role="columnheader" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1">{{ 'Description'|trans }}</th>
            <th class="sorting" role="columnheader" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1">{{ 'Discount (%)'|trans }}</th>
            <th class="sorting" role="columnheader" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1">{{ 'Action'|trans }}</th>
        </tr>
    </thead>
    <tbody role="alert" aria-live="polite" aria-relevant="all">
        {% for item in items %}
            <tr class="{{ cycle(['odd', 'even'], loop.index)}} gradeA remove_item_{{ item.id }}">
                <td class="center item-name">{{ item.code }}</td>
                <td>{{item.getDescription}}</td>
                <td>{{item.getDiscount}}</td>
                <td class="center item-price" colspan="2"><a rel="{{ item.code }} "class="delete-item" href="{{ path('backend_item_delete', {'id':item.code}) }}">{{ 'Delete'|trans }}</a></td>
            </tr>
           {% endfor %}
        </tbody></table>
    {{pagination | raw}}
    <div id="open-form-delete" style="display: none;" title="!Important">
        Are you sure want to delete this item ?
    </div>
{% endblock %}

{% block javascript %}
    <script>
           var backend_item_delete = '{{ path('backend_item_delete') }}';
        </script>
        <script src="{{ asset('bundles/aevitaslevis/js/store.js') }}"></script>
{% endblock %}
