{% extends "AevitasLevisBundle:Backend:root.html.twig" %}

{% block import %}    
    <!-- select2 css -->
    <link href="{{ asset('bundles/aevitaslevis/css/select2.css') }}" rel="stylesheet">
{% endblock %}

{% block breadcrumb %}
    <ul class="breadcrumb">
        <li><a class="glyphicons home" href="/backend"><i></i> BACKEND</a></li>
        <li class="divider"></li>
        <li><a href="#">Point Rule</a></li>
        <li class="divider"></li>
        <li>Edit rules</li>
    </ul>
{% endblock %}

{% block content %}
    <form class="form-horizontal" action="" {{ form_enctype(form) }} method="POST">
        <div class="block full-block">

            {% for flashMessage in app.session.flashbag.get('notice') %}
                <div class="alert alert-faded">
                    <button type="button" class="close" data-dismiss="alert">×</button>
                    {{ flashMessage }}
                </div>
            {% endfor %}

            <div class="separator line bottom"></div>

            <div class="control-group">
                <label class="control-label">Rule name</label>
                <div class="controls">
                    {{ form_widget(form.name, {'attr': {}}) }}
                </div>
            </div>

            <div class="control-group">
                <label class="control-label">Store</label>
                <div class="controls">
                    <select id="select-stores" name="select-stores" multiple="multiple">
                        {% for store in stores %}
                            <option value="{{ store.getOldId }}">{{ store.name }}</option>
                        {% endfor %}
                    </select>
                    {{ form_widget(form.store, {'attr': {}}) }}
                </div>
            </div>

            <div class="control-group">
                <label class="control-label">Level</label>
                <div class="controls">
                    {{ form_widget(form.level, {'attr': {}}) }}
                </div>
            </div>

            <div class="control-group">
                <label class="control-label">Point</label>
                <div class="controls">
                    {{ form_widget(form.point, {'attr': {}}) }}
                </div>
            </div>

            <div class="control-group">
                <label class="control-label">Point Operation</label>
                <div class="controls">
                    {{ form_widget(form.operation, {'attr': {}}) }}
                </div>
            </div>

            <div class="control-group">
                <label class="control-label">Action</label>
                <div class="controls">
                    {{ form_widget(form.action, {'attr': {}}) }}
                </div>
            </div>

            <div class="control-group">
                <label class="control-label">Gender</label>
                <div class="controls">
                    {{ form_widget(form.gender, {'attr': {}}) }}
                </div>
            </div>

            <div class="control-group">
                <label class="control-label">City</label>
                <div class="controls">
                    <select id="select-city" name="select-city">
                        <option value="0" selected="selected">-- Global</option>
                        {% for city in cities %}
                            {% if rule.city == city.map %}
                                <option selected="selected" value="{{ city.map }}">{{ city.name }}</option>
                            {% else %}
                                <option value="{{ city.map }}">{{ city.name }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </div>
            </div>

            <input type="hidden" name="city-name" id="city-name" value="">
            <input type="hidden" name="district-name" id="district-name">

            <div class="control-group">
                <label class="control-label">District</label>
                <div class="controls">
                    <select id="select-district" name="select-district" style="width:220px">

                    </select>
                    <span id="loading-district"></span>
                </div>
            </div>

            <div class="control-group">
                <label class="control-label">Anniversary check</label>
                <div class="controls">
                    {{ form_widget(form.anniversary, {'attr': {}}) }}
                </div>
            </div>

            <div class="control-group">
                <label class="control-label">Birthday check</label>
                <div class="controls">
                    {{ form_widget(form.birthday, {'attr': {}}) }}
                </div>
            </div>
                
            <div class="control-group">
                <label class="control-label">Bonus check</label>
                <div class="controls">
                    {{ form_widget(form.bonus, {'attr': {}}) }}
                </div>
            </div>

            <div class="separator line bottom"></div>

            <div class="row-fluid">
                <div class="span3">
                    <input type="checkbox" name="turn-IntervalDate" id="turn-IntervalDate" onchange="TurnBlock(this)"/> &nbsp;
                    <strong>Interval date</strong>
                    <p class="muted">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </div>
                <div class="span9" id="block-IntervalDate">
                    <div class="row-fluid">
                        <div class="span6">
                            <div class="control-group">
                                <label>Start date:</label>
                                <div class="input-prepend">
                                    {% if rule.sDay %}
                                        <input type="text" id="sDate" name="sDate" value="{{ rule.sDay|dateconvert }}"/>
                                    {% else %}
                                        <input type="text" id="sDate" name="sDate" value=""/>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <div class="span6">
                            <div class="control-group">
                                <label>Finish date:</label>
                                <div class="input-prepend">
                                    {% if rule.sDay %}
                                        <input type="text" id="fDate" name="fDate" value="{{ rule.fDay|dateconvert }}"/>
                                    {% else %}
                                        <input type="text" id="fDate" name="fDate" value=""/>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row-fluid">
                <div class="span3">
                    <input type="checkbox" name="turn-DayOfMonth" id="turn-DayOfMonth" onchange="TurnBlock(this)"/> &nbsp;
                    <strong>Days of Month options</strong>
                    <p class="muted">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </div>
                <div class="span9" id="block-DayOfMonth">
                    <div class="row-fluid">
                        <div class="span6">
                            <div class="control-group">
                                <label>Start day of month:</label>
                                <div class="input-prepend">
                                    <select id="sDayMonth" name="sDayMonth"?>
                                        {% for ii in range(1,31) %}
                                            {% if rule.sDayInMonth == ii %}
                                                <option selected>{{ ii }}</option>
                                            {% else %}
                                                <option>{{ ii }}</option>
                                            {% endif %}
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="span6">
                            <div class="control-group">
                                <label>Finish day of month:</label>
                                <div class="input-prepend">
                                    <select id="fDayMonth" name="fDayMonth"?>
                                        {% for ii in range(1,31) %}
                                            {% if rule.fDayInMonth == ii %}
                                                <option selected>{{ ii }}</option>
                                            {% else %}
                                                <option>{{ ii }}</option>
                                            {% endif %}
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row-fluid">
                <div class="span3">
                    <input type="checkbox" name="turn-DayOfWeek" id="turn-DayOfWeek" onchange="TurnBlock(this)"/> &nbsp;
                    <strong>Days of Week options</strong>
                    <p class="muted">example for list [Monday, Wedday, Friday and Sunday]: "2,4,6,1" or: "1,2,4,6" ... <br/>(<strong>1</strong> denote for Sunday)</p>
                </div>
                <div class="span9" id="block-DayOfWeek">
                    <div class="control-group">
                        <label>List of days of week:</label>
                        <input value="{{ rule.arrDayInWeek }}" id="sDayWeek" name="sDayWeek" type="text" placeholder="" class="span10"?>
                        <span style="margin: 0;" class="btn-action single glyphicons circle_question_mark" data-toggle="tooltip" data-placement="top" data-original-title="days much be [1..7] (value 1 is sunday) and separated by comma ( , )"><i></i></span>
                    </div>
                </div>
            </div>

            <div class="row-fluid">
                <div class="span3">
                    <input type="checkbox" name="turn-HourOfDay" id="turn-HourOfDay" onchange="TurnBlock(this)"/> &nbsp;
                    <strong>Hours of Day options</strong>
                    <p class="muted">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </div>
                <div class="span9" id="block-HourOfDay">
                    <div class="row-fluid">
                        <div class="span6">
                            <div class="control-group">
                                <label>Start hour of day:</label>
                                <div class="input-prepend">
                                    <select id="sHourDay" name="sHourDay"?>
                                        {% for ii in range(0,23) %}
                                            {% if rule.sHourInDay == ii %}
                                                <option selected>{{ ii }}</option>
                                            {% else %}
                                                <option>{{ ii }}</option>
                                            {% endif %}
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="span6">
                            <div class="control-group">
                                <label>Finish hour of day:</label>
                                <div class="input-prepend">
                                    <select id="fHourDay" name="fHourDay"?>
                                        {% for ii in range(0,23) %}
                                            {% if rule.fHourInDay == ii %}
                                                <option selected>{{ ii }}</option>
                                            {% else %}
                                                <option>{{ ii }}</option>
                                            {% endif %}
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row-fluid">
                <div class="span3">
                    <input type="checkbox" name="turn-DayParity" id="turn-DayParity" onchange="TurnBlock(this)"/> &nbsp;
                    <strong>Day parity</strong>
                    <p class="muted">even-day or odd-day</p>
                </div>
                <div class="span9" id="block-DayParity">
                    <div class="control-group">
                        <input type="radio" value="1" id="DayParity-1" name="DayParity"/> even day<br/>
                        <input type="radio" value="2" id="DayParity-2" name="DayParity"/> odd day<br/>
                        <input type="radio" value="3" checked="checked" id="DayParity-3" name="DayParity"/> both
                    </div>
                </div>
            </div>

            {{form_rest(form)}}

            <div class="separator line bottom"></div>

            <div class="form-actions" style="margin: 0;">
                <button type="submit" class="btn btn-icon btn-primary glyphicons circle_ok pull-right"><i></i>Update</button>
            </div>

        </div>
    </form>
{% endblock %}

{% block javascript %}
    <!-- select2 js -->
    <script src="{{ asset('bundles/aevitaslevis/js/select2.js') }}"></script>
    <script>
                        $('.row-fluid .control-group input').attr('disabled', 'disabled');
                        $('.row-fluid .control-group select').attr('disabled', 'disabled');

                        $(function() {
                            $("#sDate").datepicker({
                                dateFormat: "dd/mm/yy",
                                changeMonth: true,
                                numberOfMonths: 1,
                                onClose: function(selectedDate) {
                                    if ($("#sDate").attr('value') == '') {
                                        $("#fDate").datepicker("option", "minDate", new Date());
                                    } else {
                                        $("#fDate").datepicker("option", "minDate", selectedDate);
                                    }
                                }
                            });
                            $("#fDate").datepicker({
                                minDate: new Date(),
                                dateFormat: "dd/mm/yy",
                                changeMonth: true,
                                numberOfMonths: 1,
                                onClose: function(selectedDate) {
                                    $("#sDate").datepicker("option", "maxDate", selectedDate);
                                }
                            });
                        });

                        function TurnBlock(obj) {
                            var did = $(obj).attr('name');
                            did = did.replace("turn", "block");

                            if ($(obj).attr('checked') != 'checked') {
                                $('#' + did + ' input').attr('disabled', 'disabled');
                                $('#' + did + ' select').attr('disabled', 'disabled');
                            } else {
                                $('#' + did + ' input').removeAttr('disabled');
                                $('#' + did + ' select').removeAttr('disabled');
                            }/**/
                        }

        {% if rule.fDay and rule.sDay %}
            $(document.getElementById('turn-IntervalDate')).attr('checked', 'checked');
            TurnBlock(document.getElementById('turn-IntervalDate'));
        {% endif %}

        {% if rule.sDayInMonth and rule.fDayInMonth %}
            $(document.getElementById('turn-DayOfMonth')).attr('checked', 'checked');
            TurnBlock(document.getElementById('turn-DayOfMonth'));
        {% endif %}

        {% if rule.arrDayInWeek %}
            $(document.getElementById('turn-DayOfWeek')).attr('checked', 'checked');
            TurnBlock(document.getElementById('turn-DayOfWeek'));
        {% endif %}

        {% if rule.fHourInDay %}
            $(document.getElementById('turn-HourOfDay')).attr('checked', 'checked');
            TurnBlock(document.getElementById('turn-HourOfDay'));
        {% endif %}

        {% if rule.DayParity %}
            $('#DayParity-' +{{ rule.DayParity }} ).attr('checked', 'checked');
            $(document.getElementById('turn-DayParity')).attr('checked', 'checked');
            TurnBlock(document.getElementById('turn-DayParity'));
        {% endif %}

            function doSelectCity(obj, CallBack) {
                var cityname = $(obj).find(":selected").text();
                $('#city-name').val(cityname);
                $('#loading-district').addClass('loading');
                $.ajax({
                    url: '{{ path('home_search_district') }}/' + $(obj).val(),
                    dataType: 'json',
                    success: function(data) {
                        $('#loading-district').removeClass('loading');
                        $('#select-district').select2("destroy");
                        $('#select-district').html('<option value="">-- Global</option>' + data.html).select2();
                        if (typeof (CallBack) != 'undefined') {
                            window.setTimeout(function() {
                                CallBack();
                            }, 500);
                        }
                    }
                });
            }

            $('select#select-city').on('change', function() {
                doSelectCity(this);
            });

            var arrStores = [];
            var listStores = $('#aevitas_point_rule_store').val();
            arrStores = listStores.split('_');
            console.log(arrStores);
            $('#select-stores').val(arrStores);

            $('#select-stores').select2({
                width: '220px'
            }).on('change', function(e) {
                var strval = '_';
                var val = e.val;
                for (i in val) {
                    strval += val[i] + '_';
                }
                $('#aevitas_point_rule_store').val(strval);
            });

            $('select#select-district').on('change', function() {
                var districtname = $(this).find(":selected").text();
                $('#district-name').val(districtname);
            });

            if ($('select#select-city').val() != 0) {
                doSelectCity(document.getElementById('select-city'), function() {
                    var val = parseInt({{ rule.district }});
                    $("#select-district").select2("val", val);
                });
            }
    </script>
{% endblock %}