{% extends "AevitasLevisBundle:Front:root.html.twig" %}
        {% block title %}
        <title>{{'Complete Enrollment' | trans}} - {{'Step 1' | trans}}</title>
        {% endblock %}
{% block content %}
<div id="panel" class="toppanel">
    <div class="shadow_wrapper">
        <div>
            <div class="content">
                <h3>Become A Member</h3>
            </div>
        </div>
    </div>
</div><!-- /.carousel -->

<section id="form_reg" class="clearfix">
    <div class="shadow_wrapper">
        <div>
            <div class="content" style="background:url('{{asset('/images/credit.jpg')}}') no-repeat scroll bottom right #fff">
                <div class="info">
                    <span class="title"><h3>{{'Forget Password' | trans}}</h3></span>
                    <div>
                        <p>{{'Check your email to get the code for reset your password' | trans}}</p>
                        {% form_theme form "AevitasLevisBundle::Front/form.html.twig" %}
                        <form action="{{ path('levis_home_change_password') }}" {{ form_enctype(form) }} method="POST" class="changepassword">
                            <div class="row">{{ form_row(form.CCode) }}
                            </div>
                            <div class="row">{{ form_row(form.email) }}
                            </div>
                            <div class="row">{{ form_row(form.plainPassword) }}
                            </div>
                                {{ form_rest(form) }}
                            <div>
                                <input type="submit" value="{{ 'Next Step'|trans }}" class="yellow_button" />
                            </div>

                        </form>
                    </div>
                </div>
                <span class="points"><em>+10</em></span>
            </div>
        </div>
    </div>
</section>
    <div id="changepass" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="myModalLabel">{{'Change password' | trans}}</h3>
        </div>
        <div class="modal-body">
                    <div class="alert alert-faded alert-success">
                        <button type="button" class="close" data-dismiss="alert">×</button>
                        {{'Change password successfully. Go to homepage to sign in your account.' | trans}}
                    </div>
                    <div class="alert alert-faded fail">
                        <button type="button" class="close" data-dismiss="alert">×</button>
                        {{'This code might be expired your uncorrect as well.' | trans}}
                    </div>
        </div>
        <div class="modal-footer">
            <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
        </div>
    </div>
{% endblock %}
{% block javascript %}
$('form.changepassword').submit(function(e){
    e.preventDefault();
    $.ajax({
        url: $(this).attr('action'),
        dataType: 'json',
        data:$(this).serialize(),
        type: 'POST',
        success: function(data){
            if(data){
                $('#changepass').modal();
                $('#changepass .alert-success').show();
                $('#changepass .fail').hide();
            } else {
                $('#changepass').modal();
                $('#changepass .alert-success').hide();
                $('#changepass .fail').show();
            }
        }
    });
})
{% endblock %}