{% extends "AevitasLevisBundle:Front:root.html.twig" %}
        {% block title %}
        <title>{{'Complete Enrollment' | trans}} - {{'Step 1' | trans}}</title>
        {% endblock %}
{% block content %}
<div id="panel" class="toppanel">
    <div class="shadow_wrapper">
        <div>
            <div class="content">
                <h3>Become A Member</h3>
            </div>
        </div>
    </div>
</div><!-- /.carousel -->

<section id="form_reg" class="clearfix">
    <div class="shadow_wrapper">
        <div>
            <div class="content" style="background:url('{{asset('/images/credit.jpg')}}') no-repeat scroll bottom right #fff">
                <div class="info">
                    <span class="title"><h3>{{'Forget Password' | trans}}</h3></span>
                    <div>
                {% for flashMessage in app.session.flashbag.get('notice_enroll') %}
                    <div class="alert alert-faded">
                        <button type="button" class="close" data-dismiss="alert">×</button>
                        {{ flashMessage }}
                    </div>
                {% endfor %}
                        <p>{{'Type your email to get change instruction.' | trans}}</p>
                        {% form_theme form "AevitasLevisBundle::Front/form.html.twig" %}
                        <form action="{{ path('levis_home_forget_password') }}" {{ form_enctype(form) }} method="POST" class="formstep2">
                            <div class="row">{{ form_row(form.email) }}
                            </div>
                                {{ form_rest(form) }}
                            <div>
                                <input type="submit" value="{{ 'Next Step'|trans }}" class="yellow_button" />
                            </div>

                        </form>
                    </div>
                </div>
                <span class="points"><em>+10</em></span>
            </div>
        </div>
    </div>
</section>
{% endblock %}
{% block javascript %}
    $('#form_CCode').val('');
{% endblock %}