{% extends "form_div_layout.html.twig"%}

{% block form_rows %}
<div class="form-errors">
        {{ form_errors(form) }}
    </div>
    {% for child in form %}
        {{ form_row(child) }}
    {% endfor %}
{% endblock %}

{% block form_row %}
    <div class="form-row">
        {{ form_label(form) }}
            <div class="form-field">
            {{ form_widget(form) }}
                    <div class="form-errors">
                {{ form_errors(form) }}
                        </div>
                    </div>
                </div>
{% endblock %}

{% block form_label %}
    {% if label is empty %}
        {% set label = name|humanize %}
    {% endif %}
                <label for="{{ id }}" id="label-{{id}}">
        {{ label|trans }}
        {% if required %}
                        <span class="required" title="{{'This field is required' | trans}}">*</span>
        {% endif %}
        {% if help is defined %}
                        <span class="help" data-toggle="tooltip" data-original-title="{{ help }}">({{help}})</span>
        {% endif %}
                    </label>
{% endblock %}
