{% extends "AevitasLevisBundle:Front:root.html.twig" %}
{% block title %}
<title>{{'Star Club - FAQ' | trans}}</title>
{% endblock %}
{% block header %}
<!-- Le styles -->
{% stylesheets output='bundles/aevitaslevis/front/cpassets/compress_contact_us_faq.css' filter='yui_css'
    '@AevitasLevisBundle/Resources/public/front/css/bootstrap.css'
    '@AevitasLevisBundle/Resources/public/front/css/bootstrap-responsive.css'
    '@AevitasLevisBundle/Resources/public/front/css/faq.css'
    '@AevitasLevisBundle/Resources/public/front/css/style.css'
%}
<link rel="stylesheet" href="{{ asset_url }}" type="text/css" media="screen" />
{% endstylesheets %}
{% endblock %}
{% block content %}

<!-- Carousel
================================================== -->
<div id="panel" class="toppanel">
    <div class="shadow_wrapper">
        <div>
            <div class="content">
                <h3>FAQ</h3>
            </div>
        </div>
    </div>
</div><!-- /.carousel -->

<!-- Registration Content
================================================== -->
<!-- Wrap of all the registration block. -->
<section id="main" class="clearfix">
    <div class="shadow_wrapper">
        <div>
            <div class="content">
                <div id="faq-image"></div>
                <div id="faq-content">

                    <!-- PROGRAM OVERVIEW -->
                    <div class="faq-box">
                        <div class="faq-section">{{'PROGRAM OVERVIEW' | trans}}</div>
                        <div class="faq-question clo">
                            <div class="q-left">{{'WHAT IS STARCLUB?' | trans}}</div>
                            <div class="q-arrow"><span class="arrow" onclick="showAnswer('1-1', this)"></span></div>
                        </div>
                        <div class="faq-answer" id="answer-1-1">{{"Starclub is a loyalty program that is exclusively designed for customers, who purchase Levi's® products with accumulated value of 1,000,000VND upwards. The program membership entitles you to valuable rewards and privileges." | trans | raw}}</a></div>

                        <div class="faq-question clo">
                            <div class="q-left">{{"HOW DO I JOIN?" | trans}}</div>
                            <div class="q-arrow"><span class="arrow" onclick="showAnswer('1-2', this)"></span></div>
                        </div>
                        <div class="faq-answer" id="answer-1-2">{{"Visit any Levi's stores nearby. On a single purchase or a cumulative purchase of 1,000,000VND (made in a calendar year), you are eligible to enroll in the Starclub. You need to fill up the simple registration form at any Levi's cash counter and provide your mobile number to the cashier. This will trigger an SMS to your mobile number that completes your registration. Later, you will also be issued a Starclub Card which would be your membership identification." | trans}}</div>

                        <div class="faq-question clo">
                            <div class="q-left">{{"HOW DOES THIS PROGRAM WORK?" | trans}}</div>
                            <div class="q-arrow"><span class="arrow" onclick="showAnswer('1-3', this)"></span></div>
                        </div>
                        <div class="faq-answer" id="answer-1-3">{{"Besides your Membership Card, your mobile number is your unique identification. Whenever you purchase at a Levi's® store, please present your Membership card or quote your registered mobile number at the cash desk before billing. Your total purchase value and points accrued since registration will be updated accordingly against your registered mobile number. All correspondences (communications, coupons, offers ...) will be sent to your personal email and this SMS number." | trans}}</div>
                    </div>
                    <!-- POINTS -->
                    <div class="faq-box">
                        <div class="faq-section">{{"POINTS" | trans}}</div>
                        <div class="faq-question clo">
                            <div class="q-left">{{"HOW DO I EARN POINTS?" | trans}}</div>
                            <div class="q-arrow"><span class="arrow" onclick="showAnswer('2-1', this)"></span></div>
                        </div>
                        <div class="faq-answer" id="answer-2-1">{{"There are 3 levels and you will earn points accordingly based on your purchase value. As you purchase more, you move to the next level and also avail higher benefits" | trans}}
                        {{"Plus, you can earn bonus points for other activities like filling additional profile information, referring friends to become members, logging in via your Facebook account. These non-qualifying points can be redeemed for rewards. But they will NOT be counted towards level upgrade." | trans}}
                        </div>

                        <div class="faq-question clo">
                            <div class="q-left">{{'HOW DO I KNOW ABOUT MY ACCRUED POINT STATUS?' | trans}}</div>
                            <div class="q-arrow"><span class="arrow" onclick="showAnswer('2-2', this)"></span></div>
                        </div>
                        <div class="faq-answer" id="answer-2-2">{{'answer_2_2' | trans}}</div>

                        <div class="faq-question clo">
                            <div class="q-left">{{'DO POINTS EVER EXPIRE?' | trans}}</div>
                            <div class="q-arrow"><span class="arrow" onclick="showAnswer('2-3', this)"></span></div>
                        </div>
                        <div class="faq-answer" id="answer-2-3">{{'answer_2_3' | trans}}</div>

                        <div class="faq-question clo">
                            <div class="q-left">{{'WHAT IS THE VALIDITY OF ACCUMULATED LOYALTY POINTS?' | trans}}</div>
                            <div class="q-arrow"><span class="arrow" onclick="showAnswer('2-4', this)"></span></div>
                        </div>
                        <div class="faq-answer" id="answer-2-4">answer 3</div>

                        <div class="faq-question clo">
                            <div class="q-left">{{'WHAT SHOULD I DO WHEN THE POINTS IN MY PROFILE IS NOT UPDATED?' | trans}}</div>
                            <div class="q-arrow"><span class="arrow" onclick="showAnswer('2-5', this)"></span></div>
                        </div>
                        <div class="faq-answer" id="answer-2-5">{{'Usually points wil be updated within 24 hours from your purchase and 5 days latest. If you have any concern about missing points in your account, please contact us at (+84) 937 200 501.' | trans}}</div>

                        <div class="faq-question clo">
                            <div class="q-left">{{'DO I EARN POINTS ON ITEM IN PROMOTIONS OF CASH VOUCHERS?' | trans}}</div>
                            <div class="q-arrow"><span class="arrow" onclick="showAnswer('2-6', this)"></span></div>
                        </div>
                        <div class="faq-answer" id="answer-2-6">{{'No, rewards can be earned only on the net bill value paid by you.' | trans}} </div>

                        <div class="faq-question clo">
                            <div class="q-left">{{'WHAT IF I WOULD LIKE TO CHANGE MY MOBILE NUMBER?' | trans}}</div>
                            <div class="q-arrow"><span class="arrow" onclick="showAnswer('2-7', this)"></span></div>
                        </div>
                        <div class="faq-answer" id="answer-2-7">{{'In such a scenario, kindly call Starclub hotline (+84) 937 200 501. The operator will verify your identity before accepting your request for change of mobile number, post which the change will be updated in our system and intimated to you within 3 working days.' | trans}} </div>

                        <div class="faq-question clo">
                            <div class="q-left">{{'COULD I TRANSFER MY POINTS TO OTHER MEMBER?' | trans}}</div>
                            <div class="q-arrow"><span class="arrow" onclick="showAnswer('2-8', this)"></span></div>
                        </div>
                        <div class="faq-answer" id="answer-2-8">{{'No, you cannot. The points are earned by you and valid for you only.' | trans}}</div>
                    </div>
                    <!-- REWARDS REDEMPTION -->
                    <div class="faq-box">
                        <div class="faq-section">{{'REWARDS REDEMPTION' | trans}}</div>
                        <div class="faq-question clo">
                            <div class="q-left">{{'WHEN & HOW DO I REDEEM MY POINTS?' | trans}}</div>
                            <div class="q-arrow"><span class="arrow" onclick="showAnswer('3-1', this)"></span></div>
                        </div>
                        <div class="faq-answer" id="answer-3-1">{{'Points can be redeemed by visiting Starclub website and going to "Gift" sectoin. There you can choose the rewards you like and how you would like it to deliver to you. Or you can always go to one of our stores and ask the staff to redeem your points. You will then received an SMS with a verification number, which will match the one generated by the system at cashier desk. Then you can get your reward.' | trans}}
                        </div>

                        <div class="faq-question clo">
                            <div class="q-left">{{'CAN I REDEEM CURRENTLY DISCOUNTED ITEMS?' | trans}}</div>
                            <div class="q-arrow"><span class="arrow" onclick="showAnswer('3-3', this)"></span></div>
                        </div>
                        <div class="faq-answer" id="answer-3-3">{{'No you can only redeem the items in the "Gift" section of Starclub' | trans}}</div>

                        <div class="faq-question clo">
                            <div class="q-left">{{'If I wish not to continue, can I unsubscribe or opt out from the?' | trans}}</div>
                            <div class="q-arrow"><span class="arrow" onclick="showAnswer('3-4', this)"></span></div>
                        </div>
                        <div class="faq-answer" id="answer-3-4">{{'Yes, you can just contact our hotline (+84) 937 200 501. The operator will guide you further about the unsubscribing process' |trans}}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
{% block javascript %}
    $(document).ready(function() {
        $('.faq-question').on('click', function() {
            if($(this).hasClass('open'))
                $(this).removeClass('open').addClass('clo').next().hide()
            else $(this).addClass('open').removeClass('clo').next().show()
        })
    });
{% endblock %}